@model BusinessLayer.Business.Model.Teacher.TeacherModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Teacher/Manage">Add</a></li>
    @* <li class="breadcrumb-item active" aria-current="page">Library</li> *@
  </ol>
</nav>
<div class="row">
    <table class="table table-hover">
    <thead>
        <tr>
                <th>S.No</th>
                <th>Full Name</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Semester</th>
                <th>Action</th>
        </tr>
        
    </thead>
    <tbody>
        @if(Model.GridList.Count()>0){

                @foreach (var item in  Model.GridList)
                {
                    <tr>
                        <td>@item.SNo</td>
                        <td>@item.FullName</td>
                        <td>@item.Mobileno</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td>@item.Gender</td>
                        <td>@item.Sem</td>
                        <td>
                            <a href="/Teacher/Manage?Id=@item.RowId" type="button" class="btn btn-warning" title="Edit">Edit</a>
                        </td>
                    </tr>
                }
            }
        
    </tbody>
    </table>
</div>


